body {
  font-family: Arial;
  background: #f4f6f8;
}

.form-container {
  width: 500px;
  margin: 40px auto;
  background: white;
  padding: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.profile-card {
  width: 600px;
  margin: 40px auto;
  background: white;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 10px;
}

.cover {
  height: 140px;
  background: linear-gradient(to right,#4a6cf7,#5aa9fa);
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -60px;
  border: 5px solid white;
}

#skillsBox span {
  background: #3e92b3;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
}
